{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="row">
        <h3>Login</h3>
    <div class="divider"></div>
    </div>
    <div class="row">
        <div class="section">
        {% if error %}
            {% for key, value in error.items() %}
                <p class="red-text">{{ key }}: {{ value }}</p>
            {% endfor %}
        {% endif %}
        <form class="col s6" action="{{ url_for('login') }}" method="post">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" name="email" required {% if datas %} value="{{ datas['email'] }}" {% endif %}>
                <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="password" pattern=".{5,}" required>
                <label for="password" data-error="Minimum 5 characters">Password</label>
            </div>
            <div class="col s6">
                <button class="btn waves-effect waves-light" type="submit" name="action">Lost Password ?
                    <i class="material-icons right">email</i>
                </button>
            </div>
            <div class="col s6">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
        </div>
        <div class="col s12">
            <p>Not yet registered ? Go <a href="{{ url_for('register') }}">sign up here</a> !</p>
        </div>
    </div>
{% endblock %}