{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
    <div class="row">
        <h3>Settings</h3>
    <div class="divider"></div>
    </div>
    <div class="row">
        <div class="section">
        {% if error %}
            {% for key, value in error.items() %}
                <p class="red-text">{{ key }}: {{ value }}</p>
            {% endfor %}
        {% endif %}
        <form class="col s6" action="{{ url_for('settings') }}" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" readonly type="text" class="validate" name="username" required {% if datas %} value="{{ datas['username'] }}" {% endif %}>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name" type="text" class="validate" name="first_name" required autofocus {% if datas %} value="{{ datas['first_name'] }}" {% endif %}>
                    <label for="first_name">First Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="last_name" type="text" class="validate" name="last_name" required {% if datas %} value="{{ datas['last_name'] }}" {% endif %}>
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="mail" type="email" class="validate" name="mail" required {% if datas %} value="{{ datas['mail'] }}" {% endif %}>
                    <label for="mail">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="section">
                    <h6>Gender</h6>
                    <div class="input-field col s4">
                        <input id="gender_male" type="radio" class="validate" name="gender" value="male" {% if datas and datas['gender'] == "male" %} checked {% endif %}>
                        <label for="gender_male">Male</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="gender_female" type="radio" class="validate" name="gender" value="female" {% if datas and datas['gender'] == "female" %} checked {% endif %}>
                        <label for="gender_female">Female</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="gender_other" type="text" class="validate" name="gender" {% if datas and datas['gender'] != "female" and datas['gender'] != "male" %} value="{{ datas['gender'] }}" {% endif %}>
                        <label for="gender_other">Non-Binary</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Save
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
        </div>
    </div>
{% endblock %}
